@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

body {
}

@theme {
  --color-primary: #b31782;
  --color-secondary: #e582c6;
  --color-accent: #e85bbb;
  --color-background: #faf2f7;
  --color-txt: #11080e;
  --color-poop: brown;
  --radius: 100px;
}

@layer components {
  .card {
    @apply m-10 rounded-lg bg-secondary px-6 py-8 shadow-xl ring-1 ring-slate-900/5;
  }
  .poopy {
    @apply text-poop;
  }
}

@utility text-head {
  @apply text-primary text-3xl pt-5;
}

@utility text-info {
  @apply text-txt text-2xl;
}

@utility section-layout {
  @apply w-full h-[700px] bg-background flex flex-row justify-between px-[200px];
}

@theme inline {
  --color-background: #faf2f7;
  --color-foreground: #faf2f7;
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --color-sidebar-ring: var(--sidebar-ring);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar: var(--sidebar);
  --color-chart-5: var(--chart-5);
  --color-chart-4: var(--chart-4);
  --color-chart-3: var(--chart-3);
  --color-chart-2: var(--chart-2);
  --color-chart-1: var(--chart-1);
  --color-ring: var(--ring);
  --color-input: var(--input);
  --color-border: var(--border);
  --color-destructive: var(--destructive);
  --color-accent-foreground: #faf2f7;
  --color-accent: var(--accent);
  --color-muted-foreground: var(--muted-foreground);
  --color-muted: var(--muted);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-secondary: #e582c6;
  --color-primary-foreground: #faf2f7;

  --color-popover-foreground: var(--popover-foreground);
  --color-popover: var(--popover);
  --color-card-foreground: var(--card-foreground);
  --color-card: var(--card);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);

  --font-size-sm: 0.75rem;
  --font-size-base: 1rem;
  --font-size-xl: 1.333rem;
  --font-size-2xl: 1.777rem;
  --font-size-3xl: 2.369rem;
  --font-size-4xl: 3.158rem;
  --font-size-5xl: 4.21rem;

  --font-weight-normal: 400;
  --font-weight-bold: 700;

  --radius: 1.5rem;
}
